<h1>업비트</h1>

<a href="{% url 'upbit:index' %}">자산</a></br>
<a href="{% url 'upbit:dryrun' %}">드라이런</a></br>

<div>
    <div>
        <h2>원화: {{ krw_data.krw_price }}원</h2>
        <h3>총 주문금: {{ krw_data.total_order_balance }}원</h3>
        <h3>총 입금액: {{ krw_data.total_deposit_balance }}원</h3>
    </div>
</div>
<table>
    <tr>
        <th>
            티커
        </th>
        <th>
            실평가액
        </th>
        <th>
            구매총액
        </th>
        <th>
            평균구매액
        </th>
        <th>
            수익액
        </th>
        <th>
            수익율
        </th>
        <th>
            블럭 갯수
        </th>
    </tr>
{% for r in res %}
    <tr>
        <td>
            {{ r.korean_name }}({{ r.currency }})
        </td>
        <td>
            {{ r.krw_real_price }}원
        </td>
        <td>
            {{ r.krw_price }}원
        </td>
        <td>
            {{ r.avg_buy_price }}원
        </td>
        <td style="{% if r.mine_change_price > 0 %}color:red;{% else %}color:blue;{% endif %}">
            {{ r.mine_change_price }}원
        </td>
        <td style="{% if r.mine_change_percent > 0 %}color:red;{% else %}color:blue;{% endif %}">
            {{ r.mine_change_percent }}%
        </td>
        <td>
            {{ r.block_count }}
        </td>
        {% comment %} {% if not r.avg_buy_price %} {% endcomment %}
        {% if r.mine_change_percent < 7 %}
        <td>
            <form action="{% url 'upbit:sell_block' %}" method="POST">
                {% csrf_token %}
                <input name="market" type="hidden" value="{{ r.market }}">
                <input name="price" type="hidden" value="5500">
                <input name="ord_type" type="hidden" value="price">
                <input name="side" value="bid" type="hidden">
                <input type="submit" value="매수">
            </form>
        </td>
        {% endif %}
    </tr>    
{% endfor %}
</table>